*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: justify;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    color: rgb(255, 8, 0);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.logo a {
    text-decoration:none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #f80404;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60% !important;
    background: url(images/fondo.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
    font-size: 18px;   
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;  
}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #05f3f3;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.form-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-content h2 {
    text-align: center;
    color: #1a1919;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.btn {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin-bottom: 60px; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: aqua;
    color: #fff;
    text-align: center;
    padding: .1px;
}

.center-image {
    display: block;
    margin: auto;
  }

/* Propiedades para los videos*/
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video {
    width: 100%; /* Ajusta según tus necesidades */
    max-width: 400px; /* Ajusta según tus necesidades */
    margin: 10px; /* Añade espacio entre los videos */
}